.footer {
    /* position: fixed !important; */
    /* bottom: 0px !important; */
    /* left: 0px !important; */
    /* right: 0px !important; */
    /* margin-bottom: 0px !important; */
    /* z-index: 500 !important; */
    background-color: rgb(51, 39, 39) !important;
    margin-top: 1.5rem;

}
.copyright {
    margin-top: 1rem;
    /* position:absolute !important; */
    right: 5px;
    bottom: 0px;  
    margin-left: 42rem;
}

/* .intern-places {
    font-weight: 100 !important;
} */
.footer-anchor {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
}
.container {
    display: flex;
}
.about-us {
    margin-left: 40rem;
}
.footer-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.icons {
    text-decoration: none;
    color: white;
}
.icon {
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.footer-bottom {
    display: flex;
}